@import "./components/bubble/bubble.css";
@import "./components/player/player.css";
@import "./components/game-builder/game-builder.css";
@import "./components/progress-bar/progress-bar.css";
@import "./components/score-bubble/score-bubble.css";
@import "./components/start-menu/start-menu.css";
@import "./components/reviews/reviews.css";
@import "./components/game-development-status/game-development-status.css";

@import "./theme/modal.css";
@import "./theme/variables.css";
@import "./theme/animations.css";
@import "./theme/helpers.css";

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: snow;
  font-family: Roboto;
}

.translate-center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bordered-container {
  border: 1px solid black;
  border-radius: 3px;
  color: black;
  padding: 5px;
  min-width: 100px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: start;
}

.input {
  border-radius: 10px;
  padding: 3px 10px;
  margin: 5px 0;
}

#main-content {
  position: absolute;
  top: 50px;
  width: 75vw;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100vw;
  height: 500px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
  background: black;
}

#tests {
  position: absolute;
  left: 15px;
  top: 50px;
}

#summary {
  padding: 10px;
  font-weight: bold;
}

.main-container {
  position: relative;
  grid-row: 1 / 2;
  background: snow;
  color: black;
  border: 2px solid white;
  border-radius: 10px;
}

.sidebar {
  grid-row: 1 / 2;
  background: snow;
  color: black;
  border: 2px solid white;
  border-radius: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.scaling-appearing {
  animation: scalingAppearing;
  animation-timing-function: ease-in;
  animation-duration: 0.05s;
  animation-fill-mode: forwards;
  transform: scale(0);
}

@keyframes scalingAppearing {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

