@import "./components/bubble/bubble.css";
@import "./components/player/player.css";
@import "./components/game-builder/game-builder.css";
@import "./components/progress-bar/progress-bar.css";

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

body {
  /* background: rgb(29, 19, 81); */
  background-color: black;
  color: snow;
  font-family: Roboto;
}

.translate-center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.bordered-container {
  border: 1px solid black;
  border-radius: 3px;
  color: black;
  padding: 5px;
  min-width: 100px;
}

#frame {
  position: relative;
  background: snow;
  color: black;
  left: 50%;
  transform: translateX(-50%);
  top: 100px;
  width: 50vw;
  height: 400px;
  border: 2px solid white;
  border-radius: 10px;
}

.scaling-appearing {
  animation: scalingAppearing;
  animation-timing-function: ease-in;
  animation-duration: 0.05s;
  animation-fill-mode: forwards;
  transform: scale(0);
}

@keyframes scalingAppearing {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

