.player-container {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.player {
  z-index: 100;
  width: 60px;
  height: 60px;
  background: indigo;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  cursor: pointer;
  margin-bottom: 10px;
}

.dev-card {
  position: absolute;
  z-index: 100;
  color: black;
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 100px;
  border-radius: 3px;
  border: 1px solid black;
  background: white;
  padding: 10px;
  padding-bottom: 25px;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  transform: translateX(-50%);
}

.dev-name {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-section {

  font-size: 12px;
}

.skill-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.skill-row.technical > .segment { background-color: aqua; } 
.skill-row.design > .segment { background-color: orange; } 
.skill-row.research > .segment { background-color: blue; } 
.skill-row.speed > .segment { background-color: indigo; } 

.segment {
  width: 5px;
  height: 10px;
}

.broider {
  border-image:  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAAAAXNSR0IArs4c6QAAARZJREFUeF7t0jENAAAMw7CVP+mR8JkCyGF116jAaK3YBYpPEGigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADnemigWADneigGfcs0AFXZaO7pAAAAAElFTkSuQmCC") 28 /  28px / 0 round;
  border-width:  28px;
  border-style:  solid;
}